$bg-color: #f5f8f8;
$active-input-bg-color: #e2eef6;
$not-active-text-color: #7f8082;
$not-active-text-color-tow: #c2c3c5;
$not-active-text-color-three-green: #5fbd5f;
$bg-price: #26ace2;

h1{}
h2{
  font-size: 14px;
  margin: 0;
}
h3{
  font-size: 12px;
  margin: 0;
}
h4{}
h5{}